<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }} ">
    <title>{% block title %} {% endblock %} | SiteName</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div id="flash" class="flash">
        <div class="message">{{ message }}</div>
        <a id="flash_close" href="">╳</a>
    </div>
    {% endfor %}

    <!-- TODO: navbar -->
    <div>
        <a class="navlink" href="{{ url_for('main.index') }}">🏠 home</a>
        <a class="navlink" href="{{ url_for('main.about') }}">👤 about</a>
        <a class="navlink" href="#">✍️ feedback</a>
        <a href="{{ url_for('auth.login') }}"><button class="btn">login</button></a>
        <a href="#"><button class="btn">logout</button></a>
    </div>
    <hr>

    <!-- dynamic conent goes -->
    <div class="dynamic">
    {% block content %}{% endblock %}
    </div>

    <!-- TODO: footer -->
    <hr>
    <footer>
        Copyright 2022 | all right reserved
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
