{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block content %}

<!-- subscribe -->
<div class="static">
    <form method="POST">
        <input type="text" placeholder="email address">
        <input type="submit" value="subscribe">
    </form>
</div>

<!-- search -->
<div class="static">
    <form method="POST">
        <input type="text" placeholder="search posts">
        <input type="submit" value="search">
    </form>
</div>

<!-- used tags -->
<div>
    <h3>Frequent Tags</h3>
    <a href="">[web development]</a>
    <a href="">[android]</a>
    <a href="">[block chain]</a>
    <a href="">[neuroscience]</a>
</div>

<!-- blog post -->
<h3>Frequent Posts</h3>
<div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quod commodi mollitia consectetur accusantium beatae eveniet iure asperiores at soluta vel itaque delectus ullam autem, laudantium odit suscipit voluptas id?</p>
    <a href=""><button>read more</button></a>
</div>
<div class="card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in eos consequuntur beatae, adipisci quae quis molestiae vitae quasi nesciunt sed reiciendis! Sapiente nobis impedit laboriosam blanditiis voluptate ipsa numquam!</p>
    <a href=""><button>read more</button></a>
</div>

<br>
<!-- pagination -->
<div>
    <a href="">⬅️</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">➡️</a>
</div>

{% endblock %}