{% extends "base.html" %}
{% block title %} Post {% endblock %}
{% block content %}

<!-- blog post -->
<h1>{{ title }}</h1>
<h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, quidem, eveniet harum hic, animi amet optio beatae culpa eaque voluptas consequatur. Ipsa, perspiciatis est distinctio repellendus quae eveniet voluptatibus ut.</h3>
<div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate adipisci non assumenda ullam quidem nemo eum saepe deleniti nihil unde ipsum, veritatis quos necessitatibus dolore recusandae amet! In, quis tempora.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Fast-Paced_Streets_of_New_York_City.jpg/220px-Fast-Paced_Streets_of_New_York_City.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam ea voluptatem incidunt ut, saepe amet tempora ullam id quasi. Nihil in consequatur, molestiae nostrum consectetur perspiciatis aspernatur odit dolor praesentium esse eius dicta ipsum illum quod, enim et, dolores aut magni laboriosam iste nesciunt eaque iusto cupiditate? Et, quis!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, aliquam.</p>
</div>
<hr>

<!-- post comment -->
<div class="static">
    post comment <br>
    <form method="POST">
        {{ comment.hidden_tag() }}
        {{ comment.comment(placeholder='Comment') }} <br>
        {{ comment.submit(class='btn') }}
    </form>
</div>

<!-- comments -->
<!-- TODO -->

<!-- releted 3 posts -->
<!-- TODO -->
{% endblock %}